{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3 flex justify-center items-center">
        <img class="max-h-[30rem] min-h-[30rem]" src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl border">
        <div class="h-[20%]">
            <h1 class="mb-6 text-3xl col-span-1">{{ item.name }}</h1>
        </div>

        <div class="h-[65%]">
            <p class="text-gray-500 text-xl mb-2"><strong>Price: </strong>R$ {{ item.price }}</p>
            <p class="text-gray-500 text-xl mb-2"><strong>Stock: </strong>{{ item.stock }} left</p>
            <p class="text-gray-500 text-xl mb-2"><strong>Seller: </strong>{{ item.created_by.username }}</p>
            {% if item.description %}
                <p class="text-gray-700 text-xl overflow-scroll">
                    <strong class="text-gray-500">Description: </strong> </br>
                    {{ item.description }}
                </p>
            {% endif %}
        </div>

        <div class="h-[15%]">
            {% if request.user == item.created_by  %}
                <a class="transition-all duration-300 inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700" href="{% url 'apps.item:edit' item.id %}">Edit</a>
                <a class="transition-all duration-300 inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-400 text-white rounded-xl hover:bg-red-600" href="{% url 'apps.item:delete' item.id %}">Delete</a>
            {% else %}
                <a class="transition-all duration-300 inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700" href="{% url 'apps.item:add_to_cart' item.id %}">Add to cart</a>
                <a class="transition-all duration-300 inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-400 text-white rounded-xl hover:bg-blue-600" href="{% url 'apps.conversation:new' item.id %}">Talk to seller</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
            <div>
                <a href="{% url 'apps.item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                    </div>
                    <div class="p-8 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}